$primary-bg: rgb(245, 239, 239);
$secondary-bg: #2A5DC6;
$nav-bg : #091a38;
$primary-font: rgb(27, 26, 26);
$secondary-font: rgb(245, 239, 239);

$gray-font: rgb(212, 208, 208);
$dark-gray-font: rgb(117, 111, 111);

$error-font: rgb(245, 100, 75);

$emoji: #e3e317;

$divider: rgb(134, 130, 130);

$chatbubble-send: #32A0FA;
$chatbubble-recieve: #35CF5E;