@use '../../styles/colors.scss';
@use '../../styles/mixins.scss';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: colors.$chatbubble-send;
    color: colors.$secondary-font;
    max-height: 70px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    .logo-container {
        display: flex;
        align-items: center;
        gap: 18px;
        h3 {
            font-family: 'Carter One', cursive;  
        }
    }
    .nav-user {
        display: flex;
        align-items: center;
        gap: 18px;
        img, svg {
            border-radius: 50%;
        }

        button {
            @include mixins.button;
            margin: 0;
        }
    }
}